<%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=" + Rails.application.secrets.google_maps + "&callback=initMap" %>

<div id="map-container">
  <div id="map"></div>
</div>

<div id="tweets">

</div>