html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: #55ACEE;
}

h5{
  text-align: center;
}
#map {
  height: 100%;
}

#map-container {
  height: 50%;
}

#container-color{
  background-color: #55ACEE;
}
// #tweets{
//   display: inline-block;
//   width: 100%;
//   margin: 0 auto;
// }